<style>
    .container {
        height: 90vh;
        width: 100vw;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        height: 60vh;
        width: 50vw;
        display: flex;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }

    input {
        padding: 7px;
        width: 100%;
        border: none;
        box-shadow: 0px 0px 4px lightblue;
    }

    input:focus {
        box-shadow: 0px 0px 4px lightseagreen;
        outline: none;
    }

    .box img {
        height: 60vh;
        border-radius: 0.5rem 0rem 0rem 0.5rem;
        width: 25vw;
    }

    .box div {
        background-color: white;
        width: 25vw;
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        line-height: 5vh;
        padding: 3vh;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    span,
    h2 {
        color: #BF222B;
    }

    a {
        text-decoration: none;
    }

    button {
        padding: 10px 20px;
        border: none;
        background-color: #384cf3;
        color: white;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease-in-out;
    }
</style>

<%-include('header.ejs')%>
    <div class="container">
        <div class="box">
            <img src="../login.jpg" alt="">
            <form action="/donor/login" method="post">
                <div>
                    <h2>Donor Login</h2>
                    <label for="username">User Email: <span>*</span> <br>
                        <input type="text" placeholder="Enter Username" id="username" name="username" autocomplete="off" required>
                    </label>
                    <label for="password">Password: <span>*</span><br>
                        <input type="password" id="password" name="password" placeholder="password" required>
                    </label>
                    <button>Login <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
                    <hr>
                    <p>Create Account :- <a href="http://localhost:3000/donor/signup">Register Now</a></p>
                </div>
            </form>
        </div>
    </div> 