<link rel="stylesheet" href="bank.css">
<%- include('header') %>
    <div class="outerbox" onload="show()">
        <div class="container">
            <div class="container_nav">
                <button onclick="first()" id="btn1">Blood Bank Information </button>
                <button onclick="second()" id="btn2">Donation Information </button>
            </div>
            <form action="/bank/submition" method="post" id="bank_form">
                <div class="box">
                        <fieldset>
                            <legend>Blood Bank Details</legend>
                            <div class="form-group">
                                <label for="Blood Bank Name"><span>Blood Bank Name <span>*</span></span>
                                    <input type="text" id="Blood_Bank_Name" name="Blood_Bank_Name"  placeholder="Enter Blood Bank Name" autocomplete="none">
                                </label>
                                <label for="Hospital Name">Parent Hospital Name
                                    <input type="text" id="Hospital_Name" name="Hospital_Name" placeholder="Enter Hospital Name" autocomplete="none">
                                </label>
                                <label for="Category"><span>Category <span>*</span></span>
                                    <select id="Category" name="Category"    >
                                        <option value="">Select type</option>
                                        <option value="Govt">Govt</option>
                                        <option value="Private">Private</option>
                                        <option value="Charitable">Charitable</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </label>
                        
                                <label for="Contact Person"><span>Contact Person Name <span>*</span></span>
                                    <input type="text" id="Person_Name" name="Person_Name" placeholder="Enter Owner Name"    autocomplete="none">
                                </label>
                                <label for="Email"><span>Email Id <span>*</span></span>
                                    <input type="email" id="Email" name="Email" placeholder="Enter Email" autocomplete="none">
                                </label>
                                <label for="ContactNo"><span>Contact No. <span>*</span></span>
                                    <input type="text" id="Contact_No" name="Contact_No" placeholder="Enter Mobile No" maxlength="10" autocomplete="none"  >
                                </label>
                                <label for="Licence No"><span>Licence No <span>*</span></span>
                                    <input type="text" id="Licence_No" name="Licence_No" placeholder="Ex: BB/XXX/YYYY" maxlength="14"  autocomplete="none">
                                </label><br>
                                <label for="License Issue"><span>License Issue Date <span>*</span></span>
                                    <input type="date" id="License_Issue" name="License_Issue" autocomplete="none">
                                </label>
                                <label for="License Expiry"><span>License Expiry Date <span>*</span></span> 
                                    <input type="date" id="License_Expiry" name="License_Expiry" autocomplete="none">
                                </label>
                                <label for="Website">Website URL
                                    <input type="text" id="Website" name="Website" placeholder="Your Website URL" autocomplete="none">
                                </label>
                                <label for="Beds">No of Beds
                                    <input type="text" name="No_Beds" id="No_Beds" placeholder="Total Available Beds" autocomplete="none">
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Blood Bank Address*</legend>
                            <div class="form-group">
                                <label for="state"><span>State <span>*</span></span>
                                    <select id="state" name="state"    >
                                        <option value="" >Select State</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    </select>
                                </label>
                                <label for="district"><span>District <span>*</span></span>
                                    <select id="district" name="district">
                                        <option value="">Select District</option>
                                        <option value="Agar Malwa">Agar Malwa</option>
                                        <option value="Alirajpur">Alirajpur</option>
                                        <option value="Anuppur">Anuppur</option>
                                        <option value="Ashoknagar">Ashoknagar</option>
                                        <option value="Balaghat">Balaghat</option>
                                        <option value="Barwani">Barwani</option>
                                        <option value="Betul">Betul</option>
                                        <option value="Bhind">Bhind</option>
                                        <option value="Bhopal">Bhopal</option>
                                        <option value="Burhanpur">Burhanpur</option>
                                        <option value="Chhatarpur">Chhatarpur</option>
                                        <option value="Chhindwara">Chhindwara</option>
                                        <option value="Damoh">Damoh</option>
                                        <option value="Datia">Datia</option>
                                        <option value="Dewas">Dewas</option>
                                        <option value="Dhar">Dhar</option>
                                        <option value="Dindori">Dindori</option>
                                        <option value="Guna">Guna</option>
                                        <option value="Gwalior">Gwalior</option>
                                        <option value="Harda">Harda</option>
                                        <option value="Hoshangabad">Hoshangabad</option> <!-- Also known as Narmadapuram -->
                                        <option value="Indore">Indore</option>
                                        <option value="Jabalpur">Jabalpur</option>
                                        <option value="Jhabua">Jhabua</option>
                                        <option value="Katni">Katni</option>
                                        <option value="Khandwa">Khandwa</option>
                                        <option value="Khargone">Khargone</option>
                                        <option value="Maihar">Maihar</option>
                                        <option value="Mandla">Mandla</option>
                                        <option value="Mandsaur">Mandsaur</option>
                                        <option value="Morena">Morena</option>
                                        <option value="Narsinghpur">Narsinghpur</option>
                                        <option value="Neemuch">Neemuch</option>
                                        <option value="Niwari">Niwari</option>
                                        <option value="Panna">Panna</option>
                                        <option value="Pandhurna">Pandhurna</option>
                                        <option value="Ratlam">Ratlam</option>
                                        <option value="Raisen">Raisen</option>
                                        <option value="Rajgarh">Rajgarh</option>
                                        <option value="Rewa">Rewa</option>
                                        <option value="Sagar">Sagar</option>
                                        <option value="Satna">Satna</option>
                                        <option value="Sehore">Sehore</option>
                                        <option value="Seoni">Seoni</option>
                                        <option value="Shahdol">Shahdol</option>
                                        <option value="Shajapur">Shajapur</option>
                                        <option value="Sheopur">Sheopur</option>
                                        <option value="Shivpuri">Shivpuri</option>
                                        <option value="Sidhi">Sidhi</option>
                                        <option value="Singrauli">Singrauli</option>
                                        <option value="Tikamgarh">Tikamgarh</option>
                                        <option value="Ujjain">Ujjain</option>
                                        <option value="Umaria">Umaria</option>
                                        <option value="Vidisha">Vidisha</option>
                                    </select>                                    
                                </label>
                                <label for="Address"><span>Address <span>*</span></span>
                                    <input type="text" id="Address" name="Address" placeholder="Enter Blood Bank Address" autocomplete="none">
                                </label>
                                <label for="Pincode"><span>Pincode <span>*</span></span>
                                    <input type="text" id="Pincode" name="Pincode" placeholder="Enter Pin Code" maxlength="6" autocomplete="none">
                                </label>
                            </div>
                        </fieldset>
                        <div class="form_footer_btn">

                            <button class="next-btn" onclick="second()" type="button" >Next</button>   
                        </div>
                </div>
                <div class="box1">
                        <fieldset>
                            <legend><span>Donor Type <span>*</span></span></legend>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="Donor_Type" value="Voluntary">
                                    Voluntary
                                </label>
                                <label>
                                    <input type="checkbox" name="Donor_Type" value="Family">
                                    Family
                                </label>
                                <label>
                                    <input type="checkbox" name="Donor_Type" value="Replacement External">
                                    Replacement External
                                </label>
                                <label>
                                    <input type="checkbox" name="Donor_Type" value="Directed">
                                    Directed
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><span>Donation Type <span>*</span></span></legend>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="Donation_Type" value="Plasmapheresis">
                                    Plasmapheresis
                                </label>
                                <label>
                                    <input type="checkbox" name="Donation_Type" value="Plateletpheresis">
                                    Plateletpheresis
                                </label>
                                <label>
                                    <input type="checkbox" name="Donation_Type" value="Whole Blood">
                                    Whole Blood
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><span>Component Type <span>*</span></span></legend>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="Component_Type" value="Packed Red Blood Cells">
                                    Packed Red Blood Cells
                                </label>
                                <label>
                                    <input type="checkbox" name="Component_Type" value="Fresh Frozen Plasma">
                                    Fresh Frozen Plasma
                                </label>
                                <label>
                                    <input type="checkbox" name="Component_Type" value="Whole Blood">
                                    Whole Blood
                                </label>
                                <label>
                                    <input type="checkbox" name="Component_Type" value="Plasma">
                                    Plasma
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><span>Bag Type <span>*</span></span></legend>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="Bag_Type" value="Single (350/450ml)">
                                    Single (350/450ml)
                                </label>
                                <label>
                                    <input type="checkbox" name="Bag_Type" value="Double (350/450ml)">
                                    Double (350/450ml)
                                </label>
                                <label>
                                    <input type="checkbox" name="Bag_Type" value="Triple (350ml)">
                                    Triple (350ml)
                                </label>
                                <label>
                                    <input type="checkbox" name="Bag_Type" value="Quadruple (450 ml)">
                                    Quadruple (450 ml)
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><span>TTI Type <span>*</span></span></legend>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="TTI_Type" value="HIV 1&2">
                                    HIV 1&2
                                </label>
                                <label>
                                    <input type="checkbox" name="TTI_Type" value="Hepatitis-B">
                                    Hepatitis-B
                                </label>
                                <label>
                                    <input type="checkbox" name="TTI_Type" value=" Hepatitis-C">
                                    Hepatitis-C
                                </label>
                                <label>
                                    <input type="checkbox" name="TTI_Type" value="Malaria">
                                    Malaria
                                </label>
                            </div>
                        </fieldset>
                        <div class="form_footer_btn">
                            <button class="submit-btn" type="submit">Submit</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
<%- include('footer')%>
<script src="bankscript.js"></script>