<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120vh;
        width: 100vw;
    }
    .box{
        width: 70vw;
        min-height: 80vh;
        padding: 0vw 0vw 3vw 0vw ;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5vh;
        align-items: center;
    }
    #campform{
        width: 70vw;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }
    #h3 {
        text-align: center;
        background-color: #BF222B;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vh;
        border-radius: 8px 8px 0px 0px;
        width: 100%;
    }
    
    .column {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
    
    .column label {
        display: flex;
        justify-content: space-between;
        height: 11vh;
        color: black;
        flex-direction: column;
        margin: 1vh 1vh 1vh 2vh;
    }
    #campform span span{
        color: #BF222B;
        font-size: 17px;
        font-weight: 600;
    }
    .column select,.column input{
        width: 98%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .box button {
        padding: 10px 20px;
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        background-color: #007BFF;
        color: white;
        cursor: pointer;
    
    }        
</style>
<%- include('header.ejs')%>
<div class="form-container">
    <div class="box">
        <h3 id="h3">Camp Registration</h3>
        <form action="/camp/submition" method="post" id="campform">
            <div class="column">
                <label for="Organization_Type"><span>Category <span>*</span></span>
                    <select  name="Organization_Type" id="Organization_Type" required>
                        <option value="">Select type</option>
                        <option value="Govt">Govt</option>
                        <option value="Private">Private</option>
                        <option value="Charitable">Charitable</option>
                        <option value="Others">Others</option>
                    </select>
                </label>
                <label for="Organization_Name"><span>Organization Name</span>
                    <input type="text" name="Organization_Name" id="Organization_Name" placeholder="Enter Parent Organization Name" autocomplete="none">
                </label>
                <label for="Camp_Name"><span>Camp Name <span>*</span></span>
                    <input type="tel" name="Camp_Name" id="Camp_Name" placeholder="Enter Camp Name" required autocomplete="none">
                </label>
                
                <label for="Camp_Address"><span>Camp Address <span>*</span></span>
                    <input type="text" name="Camp_Address" id="Camp_Address" placeholder="Enter Camp Address" required autocomplete="none">
                </label>
                <label for="Organizer_Name"><span>Organizer Name <span>*</span></span>
                    <input type="text"  name="Organizer_Name" id="Organizer_Name" placeholder="Enter Organizer Name" required autocomplete="none">
                </label>
                <label for="Organizer_Mobile_No"><span>Organizer Mobile No <span>*</span></span>
                    <input type="text" name="Organizer_Mobile_No" id="Organizer_Mobile_No" placeholder="Enter Mobile No." maxlength="10" required autocomplete="none">
                </label>
                <label for="Organizer_Email_Id"><span>Organizer Email Id <span>*</span></span>
                    <input type="email" name="Organizer_Email_Id" id="Organizer_Email_Id" placeholder="Enter Email" required autocomplete="none">
                </label>
                <label for="Camp_Date"><span>Camp Date <span>*</span></span>
                    <input type="date" name="Camp_Date" id="Camp_Date" required autocomplete="none">
                </label>
                <label for="state"><span>State <span>*</span></span>
                    <select name="State" id="State" required>
                        <option value="">Select State</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                    </select>
                </label>
                <label for="district"><span>District <span>*</span></span>
                    <select name="District" id="District" required>
                        <option value="">Select a District</option>
                        <option value="Agar Malwa">Agar Malwa</option>
                        <option value="Alirajpur">Alirajpur</option>
                        <option value="Anuppur">Anuppur</option>
                        <option value="Ashok Nagar">Ashok Nagar</option>
                        <option value="Balaghat">Balaghat</option>
                        <option value="Barwani">Barwani</option>
                        <option value="Betul">Betul</option>
                        <option value="Bhind">Bhind</option>
                        <option value="Bhopal">Bhopal</option>
                        <option value="Burhanpur">Burhanpur</option>
                        <option value="Chhatarpur">Chhatarpur</option>
                        <option value="Chhindwara">Chhindwara</option>
                        <option value="Damoh">Damoh</option>
                        <option value="Datia">Datia</option>
                        <option value="Dewas">Dewas</option>
                        <option value="Dhar">Dhar</option>
                        <option value="Dindori">Dindori</option>
                        <option value="Guna">Guna</option>
                        <option value="Gwalior">Gwalior</option>
                        <option value="Harda">Harda</option>
                        <option value="Hoshangabad">Hoshangabad</option>
                        <option value="Indore">Indore</option>
                        <option value="Jabalpur">Jabalpur</option>
                        <option value="Jhabua">Jhabua</option>
                        <option value="Katni">Katni</option>
                        <option value="Khandwa">Khandwa</option>
                        <option value="Khargone">Khargone</option>
                        <option value="Mandla">Mandla</option>
                        <option value="Mandsaur">Mandsaur</option>
                        <option value="Morena">Morena</option>
                        <option value="Narsinghpur">Narsinghpur</option>
                        <option value="Neemuch">Neemuch</option>
                        <option value="Panna">Panna</option>
                        <option value="Rajgarh">Rajgarh</option>
                        <option value="Ratlam">Ratlam</option>
                        <option value="Rewa">Rewa</option>
                        <option value="Sagar">Sagar</option>
                        <option value="Satna">Satna</option>
                        <option value="Sehore">Sehore</option>
                        <option value="Shahdol">Shahdol</option>
                        <option value="Shajapur">Shajapur</option>
                        <option value="Sheopur">Sheopur</option>
                        <option value="Sidhi">Sidhi</option>
                        <option value="Singrauli">Singrauli</option>
                        <option value="Tikamgarh">Tikamgarh</option>
                        <option value="Ujjain">Ujjain</option>
                        <option value="Umaria">Umaria</option>
                        <option value="Vidisha">Vidisha</option>
                    </select>
                </label>
                <label for="startTime"><span>Start Time <span>*</span></span>
                    <input type="time" name="Start_Time" id="Start_Time" required autocomplete="none">
                </label>
                <label for="endTime"><span>End Time <span>*</span></span>
                    <input type="time" name="End_Time" id="End_Time" required autocomplete="none">
                </label>
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>
<script>
    let date=new Date();
    let year = date.getFullYear();
    let month = String(date.getMonth() + 1).padStart(2, '0');
    let day = String(date.getDate()).padStart(2, '0');
    let minDate = year + '-' + month + '-' + day;
    document.querySelector("#Camp_Date").min=`${minDate}`;
</script>
<%- include('footer.ejs')%>