<style>
    .container{
        height: max-content;
        width: 100vw;
        padding: 5vw 10vw;
        line-height: 5vh;
    }
    h1{
        color: #c21313;
    }
    span{
        color: skyblue;
    }
    u{
        text-decoration: underline green;
    }
</style>
<%-include('header')%>
<div class="container">
    <h1>Contact Us</h1><hr>
    <p>For any queries or inquiries, please contact us at:</p><br>
    <h3>MANIT Bhopal, Madhya Pradesh, 462003</h3>
    <h4>Email : <span>useremail3000@gmail.com</span></h4>
    <p>
        <u>Praveen Arya</u> (2320403103) <br>
        <u>Anil Kumar</u> (2320403257) <br>
        <u>Rohit Vishwakarma</u> (2320403155) <br>
        <u>Vinay Sharma</u> (2320403147) <br>
    </p>
</div>
<%-include('footer')%>