<link rel="stylesheet" href="header_footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    td,th{
        text-align:justify;
        width: 20vw;
    }
</style>
<div class="footer">
    <table>
        <tr>
            <th>Search Blood</th>
            <th>Registration</th>
            <th>Login</th>
            <th>About us</th>
        </tr>
        <tr>
            <td><a href="/availability">Blood Availability</a></td>
            <td><a href="/camp/registration">Register Blood Camp</a></td>
            <td><a href="/user">Blood Bank Login</a></td>
            <td><a href="/about">About Rakt Daan</a></td>
        </tr>
        <tr>
            <td><a href="/camp/searchCamp">Search Donation Camp</a></td>
            <td><a href="/bank/Registration">Register Blood Bank</a></td>
            <td><a href="/user">Donor Login</a></td>
            <td><a href="/FAQs">Rakt Daan FAQs</a></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a href="/user">Admin Login</a></td>
            <td><a href="">Contact Us</a></td>
        </tr>
    </table>
    <div>
        <img src="../foot_logo2.png" alt="">
        <img src="../blood.svg" alt="">
        <img src="../foot_logo3.png" alt="">
        <img src="../foot_logo4.png" alt="">
    </div>
    <div class="footer_base">
        <p>@ 2024 Rakt Daan. All rights reserved.</p>
        <p>Privacy Policy | Terms of Service |  Accessibility Statement</p>
        <p>Developed by @ <a href="https://www.linkedin.com/in/vinay-sharma-538360285/">Vinay Sharma</a></p>
    </div>
</div>