    <!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" /> -->
<title>Rakt Daan</title>
<link rel="shortcut icon" href="../blood.svg" type="image/x-icon">
<link rel="stylesheet" href="../header_footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="nav">
    <div class="logo">
        <img src="../blood.svg" alt="">
        <p id="para">RaktDaan</p>
    </div>
    <div class="nav_title">
        <div class="title_part title_main">
            <div class="title_container">
                <p>Dashboard</p>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <ul> 
                <a href="/"><li>Home</li></a>
                <a href="/about"><li>About Rakt Daan</li></a>
                <a href="/FAQs"><li>Rakt Daan FAQs</li></a>
                <a href="/contact"><li>Contact Us</li></a>
            </ul>
        </div>
        <div class="title_part">
            <div class="title_container">
                <p>Search Blood</p>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <ul>
                <a href="/availability/dashboard"><li>Blood Availability</li></a>
            </ul>
        </div>
        <div class="title_part">
            <div class="title_container">
                <p>donate blood</p>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <ul>
                <a href="/user/login"><li>Donor Dashboard</li></a>
            </ul>
        </div>
        <div class="title_part">
            <div class="title_container">
                <p>Blood Camp</p>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <ul>
                <a href="/camp/searchCamp"><li>Search Donation Camp</li></a>    
                <a href="/camp/registration"><li>Register Blood Camp</li></a>
            </ul>
        </div>
        <div class="title_part">
            <div class="title_container">
                <p>blood bank</p>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <ul>
                <a href="/user/login"><li>Blood Bank Dashboard</li></a>
                <a href="/bank/Registration"><li>Register Blood Bank</li></a>
            </ul>
        </div>
    </div>
    <div class="login_part">
        <i class="fa-solid fa-bars" onclick="navbar()"></i>
        <a href="/user"><button class="header-login-btn">Login</button></a>
    </div>
</div>
<script>
    function navbar() {
        document.querySelector('.nav_title').classList.toggle('show');
        document.querySelector('.fa-bars').classList.toggle('fa-xmark');
    }
    function handleResize() {
        const mediaQuery = window.matchMedia("(min-width: 1000px)");
        
        if (mediaQuery.matches) {
            document.querySelector('.nav_title').classList.remove('show');
            document.querySelector('.fa-bars').classList.remove('fa-xmark');
        }
    }
    window.addEventListener('resize', handleResize);
   
</script>
